{% extends "personal/header.html" %}




{% block content %}
{% load staticfiles %}

<div class="container">
    <div class="jumbotron">
        <h1>Thank you for your order!</h1>
        <p>Your order has been recieved and we will begin processing it immediatly. You will recieve an email with all of your order details. If you have any questions or concerns please email <a href="mailto:info@thepatentplace.com">info@thepatentplace.com</a> or call us at 703-415-1077. Thank you.</p>
    </div>
</div>

{% endblock %}