{% extends "personal/header.html" %}

{% block content %}


 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div style="background-color: #245580 !important" class="jumbotron">
        <h1 style=" color: white !important" class="text-center">We have moved to a new office!</h1>
        <h3 style=" color: white !important" class="text-center">We are now located at:<br>

<br>
The Patent Place, Inc. <br>
301 Franklin Street - 3rd Floor<br>
Alexandria, VA 22314
         <br>
         <br>
         Email: Info@thepatentplace.com<br>
          	Phone: 1(703)-415-1077<br>
          	Fax: 1(703)-415-1080</h3>
       
      </div>
    

        

        <div class="col-md-12 col-sm-12">
<div class="panel panel-default">
  <div style="background-color: #245580 !important"  class="panel-heading">
    <h3 style=" color: white !important" class="panel-title text-center">Ask us a question!</h3>
  </div>
  <div class="panel-body">
    <form class="form">
  <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="last_name">Company</label>
    <input type="text" class="form-control" id="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Question or Comments</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Any questions or comments"></textarea>
  </div>
  </div>
   <div class="form-group text-center">
    <button type="button" class="btn btn-primary">Send Message</button>
  </div>

</form>
  </div>
      </div>
  </div>


    

{% endblock %}  