{% extends "personal/header.html" %}
{% block content %}
{% load staticfiles %}




<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
<script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
</head>
<script type="text/javascript">
  // using jQuery
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container">
      <div style="background-color: #245580 !important" class="jumbotron">
        <h1 style=" color: white !important" class="text-center">We have moved to a new office!</h1>
        <h3 style=" color: white !important" class="text-center">We are now located at:<br>

<br>
The Patent Place, Inc. <br>
301 Franklin Street - 3rd Floor<br>
Alexandria, VA 22314
         <br>
         <br>
         Email: <a href="mailto:Info@thepatentplace.com" style="color:white">Info@thepatentplace.com</a><br>
          	Phone: 1(703)-415-1077<br>
          	Fax: 1(703)-415-1080</h3>
       
      </div>
    

        

        <div class="col-md-12 col-sm-12">
<div class="panel panel-default">
  <div style="background-color: #245580 !important"  class="panel-heading">
    <h3 style=" color: white !important" class="panel-title text-center">Ask us a question!</h3>
  </div>


  <div class="panel-body">
    <form id="/contactUs/" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% for field in form %}
    <div class="form-group text-center">
      {{field}}
    </div>
    {% endfor %}
    
  <!-- <div class="form-group">
    <label for="first_name">First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name"  placeholder="First Name">
  </div>
  <div class="form-group">
    <label for="last_name">Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name">
  </div>
  <div class="form-group">
    <label for="last_name">Company</label>
    <input type="text" class="form-control" id="company" name="company" placeholder="Company/Firm">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Question or Comments</label>
    <textarea class="form-control" id="question" name="question" rows="3" placeholder="Any questions or comments"></textarea>
  </div>
  </div> -->

  <script src='https://www.google.com/recaptcha/api.js'></script>
  <div class="form-group text-center col-lg-4 col-lg-offset-4">
  <div class="g-recaptcha" data-sitekey="6Ld9jlEUAAAAAIxIA9qbfa-xcA2AL5QyFn5yxfYg"></div>
  <!-- </div> -->
  {% if messages %}
  <div>
    {% for message in messages %}
       <p>{{ message }}</p>
    {% endfor %}
  </div>
  {% endif %}
   <!-- <div class="form-group text-center"> -->

    <button type="submit" id="submit" class="btn btn-primary">Send Message</button>
  </div>

</form>
  </div>
      </div>
  </div>


{% endblock %}  