{% extends "personal/header.html" %}
 {% block content %}
<body>
    <div class="container">
        <div style="background-color: #245580 !important" class="jumbotron">
            <h1 style=" color: white !important">Thank you for your order!</h1>
        </div>
    </div>
     <div class="container" id="test">
        <h3>Document 1: </h3>

        {% for item in order %}
            <tr>
            {{ item.docType }}
            </tr>
        {% endfor %}
             
    </div>
    </div>
</body>
{% endblock %}
