{% extends "personal/header.html" %}




{% block content %}
{% load staticfiles %}

{% csrf_token %}
<script type="text/javascript">
// using jQuery
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<head>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/thanks.js' %}"></script>
</head>


<div class="container">
    <div class="jumbotron">
        <h1>Order Review</h1>
        <p>YOUR ORDER HAS NOT BEEN SUBMITTED YET! Please double check all contact information, document numbers, and options. Use the EDIT button to make any
            corrections, if everything looks good please scroll down and hit SUBMIT and your order will be processed.
            Thank you!</p>
    </div>
</div>

<div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offest-2 col-sm-8 col-sm-offset-2">
    <div style="background-color: #245580 !important" class="panel-heading">
        <h3 style=" color: white !important" class="panel-title text-center">Contact Information</h3>
    </div>
    <table class="table">
        <thead>
            <th>First Name</th>
            <th>Company</th>
            <th>Address</th>
        </thead>
        <tr>
            <td id="firstName">{{order.0.first_Name}}</td>
            <td id="company">{{ order.0.company }}</td>
            <td id="address">{{order.0.address}}</td>
        </tr>
        <thead>
            <th>Last Name</th>
            <th>Email</th>
            <th>Reference #</th>
        </thead>
        <tr>
            <td id="lastName">{{order.0.last_Name}}</td>
            <td id="Email">{{order.0.email}}</td>
            <td id="ref">{{order.0.ref}}</td>
        </tr>
    </table>
</div>




<div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offest-2 col-sm-8 col-sm-offset-2">
    <div style="background-color: #245580 !important" class="panel-heading">
        <h3 style=" color: white !important" class="panel-title text-center">Order Information</h3>
    </div>
    {% for item in order %}
    {% if forloop.counter >= 3 %}
    <div class="container col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0">
        <table class="table">

            <thead>
                <th class="text-center" colspan="2">
                    Document {{ item.counter}}
                </th>
            </thead>
            <tr>
                <td>Document Type</td>
                <td>{{ item.docType }}</td>
            </tr>
            <tr>
                <td>Document Number</td>
                <td>{{ item.docNum }}</td>
            </tr>
            <tr>
                <td>Certified</td>
                <td>{{item.cert}}</td>
            </tr>
            <tr>
                <td>Legalization</td>
                <td>{{ item.legal }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td>{{ item.country }}</td>
            </tr>
            <tr>
                <td>Number of Copies</td>
                <td>{{ item.numOfCopies }}</td>
            </tr>
            <tr>
                <td>Document Media</td>
                <td>{{ item.media }}</td>
            </tr>
            <tr>
                <td>Forward to Associate</td>
                <td>{{ item.fwd }}</td>
            </tr>
            <tr>
                <td>Email a PDF Copy</td>
                <td>{{ item.emailCopy }}</td>
            </tr>
            <tr>
                 <td>Shipping Info</td>
                <td>{{ item.shippingInfo }}</td>
            </tr>
            <tr>
                <td>Cost</td>
                <td>{{ item.cost }}</td>
            </tr>
            <tr>
                <td>Time</td>
                <td>{{ item.time }} Business Days</td>
            </tr>
        </table>
        <hr>
    </div>
    {% endif %}
    {% endfor %}
</div>


    <div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offest-2 col-sm-8 col-sm-offset-2">
        <div style="background-color: #245580 !important" class="panel-heading">
            <h3 style=" color: white !important" class="panel-title text-center">Special Instructions & Final Cost Estimate</h3>
        </div>
    <div class="container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-1">
        <table class="table">
            <thead>
                <th class="text-center">
                    Special Instructions
                </th>
            </thead>
            <tr>
                {% if order.0.instructions %}
                <td class="text-center">{{order.0.instructions}}</td>
                {% else %}
                <td class="text-center">No insturctions or comments were made</td>
                {% endif %}
            </tr>
        </table>
        </div>
        <div class="container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-1">
        <table class="table">
            <thead>
                <th class="text-center" colspan="2">
                    Cost Estimate
                </th>
            </thead>
            <tr>
                <td> Totat Estimate </td>
                <td class="text-center">${{order.1.totalEst}}.00</td>
            </tr>
            <tr>
                <td> Discount </td>
                {% if order.1.discount == "0" %}
                <td class="text-center">$0.00</td>
                {% else %}
                <td class="text-center">-${{order.1.discount}}.00</td>
                {% endif %}
            </tr>
            <tr>
                <td> <b>Final Estimate</b> </td>
                <td class="text-center"><b>${{order.1.finalEst}}.00</b></td>
            </tr>
        </table>
    </div>
</div>
<!-- <div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offest-2 col-sm-8 col-sm-offset-2">
    <div style="background-color: #245580 !important" class="panel-heading">
        <h3 style=" color: white !important" class="panel-title text-center">Special Instructions & Shipping Information</h3>
    </div> -->
    <!-- <div class="container col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0">
        <table class="table">
            <thead>
                <th class="text-center">
                    Special Instructions
                </th>
            </thead>
            <tr>
                {% if order.0.instructions %}
                <td>{{order.0.instructions}}</td>
                {% else %}
                <td>No insturctions or comments were made</td>
                {% endif %}
            </tr>
        </table>
    </div> -->
    <!-- <div class="container col-lg-6 col-lg-offset-0 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0">
            <table class="table">
                <thead>
                    <th class="text-center">
                        Shipping Information
                    </th>
                </thead>
                <tr>
                    {% if order.1.docForward == 'Yes' %}
                    <td>{{order.1.shipInfo}}</td>
                    {% else %}
                    <td>{{order.0.address}}</td>
                    {% endif %}
                </tr>
            </table>
        </div> -->
<!-- </div> -->
<div>
    <a role="button" class="btn btn-primary col-lg-2 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0"
        id='submit'>Submit Order</a>
        <a role="button" class="btn btn-primary col-lg-2 col-lg-offset-2 col-md-6 col-md-offset-0 col-sm-6 col-sm-offset-0"
        id='submit'>Submit Order</a>
        <div class="g-recaptcha text-center" data-sitekey="6Ld9jlEUAAAAAIxIA9qbfa-xcA2AL5QyFn5yxfYg"></div>
</div>


<div class="container col-lg-8 col-lg-offset-2 col-md-8 col-md-offest-2 col-sm-8 col-sm-offset-2" style="display: none">
        <input id="listLength" value="{{ order|length}}"/>
        <form id="orderForm">
            <input type="text" name="firstName" value="{{order.0.first_Name}}"/>
            <input type="text" name="lastName" value="{{order.0.last_Name}}"/>
            <input type="text" name="company" value="{{order.0.company}}"/>
            <input type="text" name="address" value="{{order.0.address}}"/>
            <input type="text" name="email" value="{{order.0.email}}"/>
            <input type="text" name="ref" value="{{order.0.ref}}"/>
            <input type="text" name="instructions" value="{{order.0.instructions}}"/>
            <input type="text" name="totalEst" value="{{order.1.totalEst}}"/>
            <input type="text" name="discount" value="{{order.1.discount}}"/>
            <input type="text" name="finalEst" value="{{order.1.finalEst}}"/>
            {% for item in order %}
            {% if forloop.counter >= 3 %}
            <input type="text" id="doctype" name="docType{{forloop.counter}}" value="{{item.docType}}"/>
            <input type="text" name="docNum{{forloop.counter}}" value="{{item.docNum}}"/>
            <input type="text" name="docCert{{forloop.counter}}" value="{{item.cert}}"/>
            <input type="text" name="docLegal{{forloop.counter}}" value="{{item.legal}}"/>
            <input type="text" name="docCountry{{forloop.counter}}" value="{{item.country}}"/>
            <input type="text" name="docNumofCopies{{forloop.counter}}" value="{{item.numOfCopies}}"/>
            <input type="text" name="docMedia{{forloop.counter}}" value="{{item.media}}"/>
            <input type="text" name="docForward{{forloop.counter}}" value="{{item.fwd}}"/>
            <input type="text" name="docEmail{{forloop.counter}}" value="{{item.emailCopy}}"/>
            <input type="text" name="docCost{{forloop.counter}}" value="{{item.cost}}"/>
            <input type="text" name="docTime{{forloop.counter}}" value="{{item.time}}"/>
            <input type="text" name="shipInfo{{forloop.counter}}" value="{{item.shippingInfo}}"/>
            {% endif %}
            {% endfor %}

        </form>
    
    </div>

<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}