{% extends "personal/header.html" %}

{% block content %}
<div class="container">
         <div style="background-color: #245580 !important" class="jumbotron">
        <h1 style=" color: white !important">Expedited Foreign Filing License</h1>
        <p style=" color: white !important">We cover all initial expenses and prepare the petition</p>
        </div>
</div>

<div class="container">
  <h3>Foreign Filing License Info</h3>
  <p>For expedited foreign filing licenses, we provide the petition, cover the intial USPTO fees, and deliver the required paperwork to the USPTO. This ensures that we are able to obtain a foreign filing license for our clients within 3 business days. If you have any questions or concerns please contact us.</p>
</div>
<br>

<div class="container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
	<div class="panel panel-default">
        <div style="background-color: #245580 !important" class="panel-heading">
            <h4 style=" color: white !important" class="panel-title text-center">Pricing & Time</h4>
        </div>
        <table class="table table-striped">
          <tr>
            <td>Expedited Forieng Filing License</td>
            <td> $385.00 + $0.15/page</td>
            <td> 3 Business Day</td>
          </tr>
          </table>
      </div>
  </div>
  <div class="container">
  </div>

<div class="container">
  <h3>Ordering</h3>
  <p> Please email <a href="info@thepatentplace.com">info@thepatentplace.com</a> with request and we will be happy to process your order! Make sure to attach a PDF copy of the DOCUMENT which needs a foreign filing license!</p> 
</div>

    

{% endblock %}