{% extends "personal/header.html" %}

{% block content %}
<div class="container">
         <div style="background-color: #245580 !important" class="jumbotron">
        <h1 style=" color: white !important">USPTO Hand Carries</h1>
        <p style=" color: white !important">Same day deliveries to the USPTO</p>
        </div>
</div>

<div class="container">
  <h3>Hand Carry Info</h3>
  <p>Need something delivered to the USPTO? Send us your document or check to be depostited into your UPSTO account and we will hand deliver it same day. After the delievery is made, we provide our clients with a copy of the stamped card from the USPTO showing they recieved your document.</p>
</div>
<br>

<div class="container col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
	<div class="panel panel-default">
        <div style="background-color: #245580 !important" class="panel-heading">
            <h4 style=" color: white !important" class="panel-title text-center">Pricing & Time</h4>
        </div>
        <table class="table table-striped">
          <tr>
            <td>USPTO Hand Carry</td>
            <td>$60.00</td>
            <td>Same Day</td>
          </tr>
          </table>
      </div>
  </div>
  <div class="container">
  </div>

<div class="container">
  <h3>Ordering</h3>
  <p> Please email <a href="info@thepatentplace.com">info@thepatentplace.com</a> with request and send the original documents to us at: <strong>The Patent Place, Inc., 301 Franklin St., 3rd Floor Alexandira, Va 22314</strong></p> 
</div>


    

{% endblock %}	