<html>
    <head>
            <link rel="stylesheet" type="text/css" href="table.css">
    </head>
    <body>
    <p>hello world</p>
    <table>
        <tr>
            <th rowspan='5'>Doc 1 <br><br> <button  type='button'>Edit</button><br><br><button  type='button'>Remove</button></th>
        </tr>
        <tr>
            <th>Doc Type</th>
            <th>Doc #</th>
            <th>Cert</th>
            <th>Legal</th>
            <th>Country</th>
        </tr>
        <tr>
            <td>FH</td>
            <td>125480-5462</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>UAE</td>
            
        </tr>
        <tr>
            <th>Media</th>
            <th># copies</th>
            <th>Forward</th>
            <th>PDF Copy</th>
            <th>Cost</th>
        </tr>
        <tr>
            <td>Paper</td>
            <td>1</td>
            <td>Yes</td>
            <td>Yes</td>
            <td>$1236</td>
        </tr>
    </table>
    </body>
</html>