{% extends "personal/header.html" %}

{% block content %}
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load staticfiles %}

    <link href="{% static 'css/navbar.css' %}" rel="stylesheet">
    <!---<link type="text/css" rel="stylesheet" href="{% static 'css/estimator3.0.css' %}">-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/estimator7.0.js' %}"></script>
    <title>The Patent Place, Inc.</title>
</head>

<body>
    <div class="container">
         <div style="background-color: #245580 !important" class="jumbotron">
        <h1 style=" color: white !important" >List of Current Members of the Hague Convention</h1>
        <p style="color: white !important">Updated: March 2019</p>
        </div>
    </div>

    <div class="container">
            <h4>Documents that need legalization for the countries listed below will need to be legalized with an Apostille. Click <a href="/legal">here</a> for a legalization estimate.</h4>
            <br>
        </div>

<div class="container">
    <table class="table table-striped">
                    <tr>
                        <td>Albania </td>
                        <td>France</td>
                        <td>Nicaragua</td>
                    </tr>
                    <tr>
                        <td>Andorra </td>
                        <td>Georgia</td>
                        <td>Niue</td>
                    </tr>
                    <tr>
                        <td>Antigua and Barbuda </td>
                        <td>Germany</td>
                        <td>Norway</td>
                    </tr>
                    <tr>
                        <td>Argentina</td>
                        <td>Greece</td>
                        <td>Oman</td>
                    </tr>
                    <tr>
                        <td>Armenia </td>
                        <td>Grenada</td>
                        <td>Panama</td>
                    </tr>
                    <tr>
                        <td>Australia </td>
                        <td>Guatemala</td>
                        <td>Paraguay</td>
                    </tr>
                    <tr>
                        <td>Austria </td>
                        <td>Honduras</td>
                        <td>Peru</td>
                    </tr>
                    <tr>
                        <td>Azerbaijan </td>
                        <td>Hungary</td>
                        <td>Poland</td>
                    </tr>
                    <tr>
                        <td>Bahamas </td>
                        <td>Iceland</td>
                        <td>Portugal</td>
                    </tr>
                    <tr>
                        <td>Bahrain</td>
                        <td>India</td>
                        <td>Romania</td>
                    </tr>
                    <tr>
                        <td>Barbados</td>
                        <td>Ireland</td>
                        <td>Russian Federation</td>
                    </tr>
                    <tr>
                        <td>Belarus</td>
                        <td>Israel</td>
                        <td>Saint Kitts and Nevis</td>
                    </tr>
                    <tr>
                        <td>Belgium</td>
                        <td>Italy</td>
                        <td>Saint Lucia</td>
                    </tr>
                    <tr>
                        <td>Belize</td>
                        <td>Japan</td>
                        <td>Saint Vincent and the <br> Grenadines</td>
                    </tr>
                    <tr>
                        <td>Bolivia</td>
                        <td>Kazakhstan</td>
                        <td>Samoa</td>
                    </tr>
                    <tr>
                        <td>Bosnia and Herzegovina</td>
                        <td>Korea, Republic of</td>
                        <td>San Marino</td>
                    </tr>
                    <tr>
                        <td>Botswana</td>
                        <td>Kosovo</td>
                        <td>Sao Tome and Principe</td>
                    </tr>
                    <tr>
                        <td>Brazil</td>
                        <td>Kyrgystan</td>
                        <td>Serbia</td>
                    </tr>
                    <tr>
                        <td>Brunei Darussalam </td>
                        <td>Latvia</td>
                        <td>Seychelles</td>
                    </tr>
                    <tr>
                        <td>Bulgaria</td>
                        <td>Lesotho</td>
                        <td>Slovakia</td>
                    </tr>
                    <tr>
                        <td>Burundi </td>
                        <td>Liberia</td>
                        <td>Slovenia</td>
                    </tr>
                    <tr>
                        <td>Cape Verde</td>
                        <td>Liechtenstein</td>
                        <td>South Africa</td>
                    </tr>
                    <tr>
                        <td>Chile</td>
                        <td>Lithuania</td>
                        <td>Spain</td>
                    </tr>
                    <tr>
                        <td>China, People's Republic of <br>
                            (Hong Kong &amp; Macao Only)</td>
                        <td>Luxemborg</td>
                        <td>Suriname</td>
                    </tr>
                    <tr>
                        <td>Colombia</td>
                        <td>Macedonia, former Yugoslav <br> Republic of</td>
                        <td>Swaziland</td>
                    </tr>
                    <tr>
                        <td>Cook Islands</td>
                        <td>Malawi</td>
                        <td>Sweden</td>
                    </tr>
                    <tr>
                        <td>Costa Rica</td>
                        <td>Malta</td>
                        <td>Switzerland</td>
                    </tr>
                    <tr>
                        <td>Croatia</td>
                        <td>Marshall Islands</td>
                        <td>Tajikistan</td>
                    </tr>
                    <tr>
                        <td>Cyprus</td>
                        <td>Mauritius</td>
                        <td>Tonga</td>
                    </tr>
                    <tr>
                        <td>Czech Republic</td>
                        <td>Mexico</td>
                        <td>Trinidad and Tobago</td>
                    </tr>
                    <tr>
                        <td>Denmark</td>
                        <td>Moldova, Republic of</td>
                        <td>Tunisia</td>
                    </tr>
                    <tr>
                        <td>Dominica</td>
                        <td>Monaco</td>
                        <td>Turkey</td>
                    </tr>
                    <tr>
                        <td>Dominican Republic</td>
                        <td>Mongolia</td>
                        <td>Ukraine</td>
                    </tr>
                    <tr>
                        <td>Ecuador</td>
                        <td>Montenegro</td>
                        <td>United Kingdom of Great Britian <br>
                            and Northern Ireland</td>
                    </tr>
                    <tr>
                        <td>El Salvador</td>
                        <td>Morocco</td>
                        <td>Uruguay</td>
                    </tr>
                    <tr>
                        <td>Estonia</td>
                        <td>Namibia</td>
                        <td>Uzbekistan</td>
                    </tr>
                    <tr>
                        <td>Fiji</td>
                        <td>Netherlands</td>
                        <td>Vanuatu</td>
                    </tr>
                    <tr>
                        <td>Finland</td>
                        <td>New Zealand</td>
                        <td>Venezuela</td>
                    </tr>
    </table>
    
</div>
</body>


    

{% endblock %}	